.login_container>form{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.login_container>form>label{
    display:flex;
    justify-content: space-between;
    margin:10px;
}
.login_container{
    width: 200px;
}